<div class="container">
    <h1 class="mt-3">Friend list</h1>
    <% @fans.each do |fan| %>
        <div class="mt-3">
            <%= link_to (image_tag fan.avatar_thumbnail, :style => "border-radius: 50%; width: 40px; height: 40px"), user_path(fan) %>
            <span>
                <%= fan.firstname + " " + fan.surename %>
            </span>
        </div>
    <% end %>
    <br />
</div>