<div class="container">
    <div class="row">
        <% if @user == current_user %>
            <%# unless all_friend_requests.empty? %>
                <%= render "notifi" %> 
            <%# end %>
            <%= render "profile", {user: @user} %>
            <%= render "people" %>
        <% end %>
    </div>
</div>
 
